 <div class="container">
  <h1 class="properties-title-new">Add properties to your listings</h1>
  <div class=".col-md-3 .offset-md-3">
   <div class="field-wrap">
    <%= form_for(Property.new, as: :property, url: properties_path(:property)) do |f| %>
    <div class="dropdown-portals">
      <%= f.text_field :prop_url, required: true, autofocus: true, placeholder: 'Property URL', class: 'form-listings' %>
      <%= f.text_field :address, required: false, autofocus: true, placeholder: 'Address', class: 'form-listings' %>
      <%= f.text_field :photo, required: false, autofocus: true, placeholder: 'Photo URL', class: 'form-listings' %>
      <%= f.text_field :description, required: false, autofocus: true, placeholder: 'Description', class: 'form-listings' %>
      <label class="choose-portal-text">Select your portal</label>
      <select id="selectPortal">
        <% @portals.each do |p| %>
        <option value="<%= p.id %>"><%= p.name %></option>
        <% end %>
      </select>
      <div class="field-wrap" id="portal_id"></div>
    </div>
    <div class="field-wrap sub-button">
      <%= f.submit "Register", class: 'button-form' %>
    </div>
    <% end %>
  </div>
</div>
</div>

<div class="container">

  <div class="properties-row">
    <div class="row">
      <div class="col-xs-12 col-md-3 properties-row">
        <div class="wrapper">
          <div class="fa fa-bolt thunder"></div><br>
          <br>
          <div>
            Classic package 20 properties for €46.00/mo. <br><p class="card-second-text";>Access up to 30 million potential buyers</p></div></div>
          </div>
          <div class="col-xs-12 col-md-3 properties-row">
            <div class="wrapper">
              <div>
                <span class="fa fa-bolt thunder"></span>
                <span class="fa fa-bolt thunder"></span>
              </div><br>
              <div>
                Premium package 50 properties for €90.00/mo. <br><p class="card-second-text";>Access up to 70 million potential buyers</p></div>
              </div>
            </div>
            <div class="col-xs-12 col-md-3 properties-row">
              <div class="wrapper">
                <div>
                  <span class="fa fa-bolt thunder"></span>
                  <span class="fa fa-bolt thunder"></span>
                  <span class="fa fa-bolt thunder"></span>
                </div><br>
                Go pro package 100 properties for €125.00/mo. <br><p class="card-second-text";>Access up to 110 million potential buyers</p></div>
              </div>
              <div class="col-xs-12 col-md-3 properties-row">
                <div class="wrapper">
                  <div>
                    <span class="fa fa-bolt thunder"></span>
                    <span class="fa fa-bolt thunder"></span>
                    <span class="fa fa-bolt thunder"></span>
                    <span class="fa fa-bolt thunder"></span>
                  </div><br>
                  Platinum package 200 properties for €200.00/mo. <br><p class="card-second-text";>Access up to 140 million potential buyers</p></div>
                </div>
              </div>
            </div>
          </div>





          <div class="container">
            <div class="billing-row">
              <div class="row">
                <h2 class="billing-title">Billing Frequency</h2>
                <div class="row text-center">

                  <div class="billing-cards">
                    <div class="col-xs-4">
                      <div class="wrapper billing-months">Every 3 months <br><p class="discount">Save 0%</p></div>
                    </div>

                    <div class="col-xs-4">
                      <div class="wrapper billing-months">Every 6 months <br><p class="discount">Save 15%</p></div>
                    </div>

                    <div class="col-xs-4">
                      <div class="wrapper billing-months">Every 12 months <br><p class="discount">Save 20%</p></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

