<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <a class="navbar-name"> <%= link_to "Scriblix", root_path, class:"logo-topbar" %> </a>
  </div>

  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>

  <ul class="nav navbar-nav navbar-left navbar-top-links">
  </ul>
</nav>


<div class="body-content">
  <div id="sidebar">
    <!-- Sidebar Header -->
    <div class="sidebar-header">
    </div>
    <!-- Sidebar Links -->
    <ul class="list-unstyled text-sidebar">
      <li class="active sidebar-item"><%= link_to "Home", dashboard_path%>
      </li>
      <li><!-- Link with dropdown items -->
        <ul class="collapse list-unstyled" id="homeSubmenu">
        </ul>
        <li class="sidebar-item"><%= link_to "Listings", properties_path %></li>
        <li class="sidebar-item"><%= link_to "Upgrade", packages_path %></li>
        <li class="sidebar-item"><%= link_to "Portal List", portals_path %></li>
        <li class="sidebar-item"><%= link_to "Request feeds", new_property_path%></li>
        <li class="sidebar-item"><a><%= link_to "User details", edit_user_registration_path %></a>
          <li class="sidebar-item"><a> <%= link_to destroy_user_session_path, method: :delete do %>
            <%= t(".sign_out", default: "Log out") %>
            <% end %></a>
          </li>

        </li>
      </li>
    </ul>
  </div>
</div>


<div class="container">

  <div class="row cards-row">
      <h1 class="properties-title">Current Listings</h1>
    <% @properties.each do |prop| %>
      <div class="col-xs-12 col-sm-3">
        <div class="spec-object-item">
          <div class="spec_img_container">
            <img src=<%= prop.photo %> class="spec_img img-responsive" alt="Property Photo">
            </img>
            <div class="spec_address">
              <%= prop.address %>
            </div>
            <div class ="spec_portal">
              <% if prop.portal %>
              Published on Portal:
              <%= prop.portal.name %>,
              <%= prop.portal.country %>
              <% end %>
            </div>
            <div class="spec_price">
              <h5><%= prop.price %></h5>
            </div>
            <button class = "btn btn-primary small2">
              <%= link_to 'details',  property_path(prop) %>
            </button>
            <button class = "btn btn-primary small">
              <%= link_to 'delete',  property_path(prop),  method: :delete, data: { confirm: 'Are you sure?' } %>
            </button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>




