<h1 align="center">Properties</h1>
<ul>
  <% @properties.each do |prop| %>
    <li>
      <h2><%= prop.address %></h2>
      <%= prop.description %>
      <%= prop.prop_url %>
      <%= prop.XML %>
      <%= prop.HTML %>
    </li>
  <% end %>
  <%= link_to "Add Property", new_property_path %>
</ul>

<button class="btn-back text-center" id="stupid-btn">
  <%= link_to "DashBoard", dashboard_path, class:"my-btn" %>
</button>
