<img src=<%= @property.photo %> class="spec_img img-responsive" alt="Property Photo"></div>
<h4><%= @property.address %></h3>
<h4>On Portal: <%= @property.portal_id %></h4>
<h4><%= @property.price %></h4>
<h5>Description</h5>
<p><%= @property.description %></p>
<!-- <div class="xmlbox">
  <%= @property.HTML %>
</div> -->


