<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <a class="navbar-name"> <%= link_to "Scriblix", root_path, class:"logo-topbar" %> </a>
  </div>

  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>

  <ul class="nav navbar-nav navbar-left navbar-top-links">
  </ul>
</nav>


<!--- SIDE BAR -->
<div class="body-content">
  <div id="sidebar">
    <!-- Sidebar Header -->
    <div class="sidebar-header">
    </div>
    <!-- Sidebar Links -->
    <ul class="list-unstyled text-sidebar">
      <li class="active sidebar-item"><%= link_to "Home", root_path%></li>

      <li><!-- Link with dropdown items -->
        <ul class="collapse list-unstyled" id="homeSubmenu">
        </ul>
        <li class="sidebar-item"><%= link_to "Listings", properties_path %></li>
        <li class="sidebar-item"><%= link_to "Upgrade", packages_path %></li>
        <li class="sidebar-item"><%= link_to "Portal List", portals_path %></li>
        <li class="sidebar-item"><%= link_to "Request feeds", new_property_path%></li>
        <li class="sidebar-item"><a><%= link_to "User details", edit_user_registration_path %></a>
        <li class="sidebar-item"><a> <%= link_to destroy_user_session_path, method: :delete do %>
          <%= t(".sign_out", default: "Log out") %>
          <% end %></a></li>

          </li>
        </li>
      </ul>
    </li>
  </div>
</div>



<div class="all-cards-row">

    <!----------- START OF THE SMALL TOP CARD SECTION ---->

  <div class="row cards-row">
    <div class="col-sm-3">
      <div class="card-dashboard">
        <div class="card-block">
          <h3 class="card-title">Listings</h3>
          <p class="card-text">See a complete list of all the listed properties placed.
          </p>
          <button class="btn btn-primary card-buttons"><%= link_to "See Details", properties_path %></button>
        </div>
      </div>
    </div>


    <div class="col-sm-3">
      <div class="card-dashboard">
        <div class="card-block">
          <h3 class="card-title">Upgrade</h3>
          <p class="card-text">Upgrade your package to add more listings and access more portals for more reach.</p>
          <button class="btn btn-primary card-buttons"><%= link_to "See Details", packages_path %></button>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card-dashboard">
        <div class="card-block">
          <h3 class="card-title">Portals</h3>
          <p class="card-text">See all the portals that we support</p>
          <button class="btn btn-primary card-buttons"><%= link_to "See Details", portals_path %>
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card-dashboard">
        <div class="card-block">
          <h3 class="card-title">Request a feed</h3>
          <p class="card-text">Request a new feed to upload new listings</p>
          <button class="btn btn-primary card-buttons"><%= link_to "See Details", new_property_path%></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row cards-row">
    <div class="col-md-6">
      <div class="card-dashboard2">
        <div>
          <h3 class="card-title">Listing totals</h3>
          <p>Nr of properties listed: <%= @nr_of_prop %> </p>
       <!--    <%= @hash %> -->
          <% @hash.each do |k, v| %>
              <%= k %>: <%= v %> <br>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card-dashboard2">
        <div>
          <h3 class="card-title">Customer Details</h3>
        </div>
        <p><%# current_user.package.name %></p>
        <p><%= current_user.comp_name %></p>
        <p><%= current_user.first_name %> <%= current_user.last_name %></p>
        <p><%= current_user.phone_number %></p>
        <p><%= current_user.address %></p>
        <p class="url"><%= link_to current_user.comp_url, current_user.comp_url %></p>
        <p><%= current_user.last_sign_in_at %></p>
      </div>
    </div>
  </div>
<!--   <div class="row cards-row">
    <div class="col-sm-3">
      <div class="card-dashboard2">
        <div>
          <h3 class="card-title">Something</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card-dashboard2">
        <div>
          <h3 class="card-title">Something</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card-dashboard2">
        <div>
          <h3 class="card-title">Something</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card-dashboard2">
        <div>
          <h3 class="card-title">Something</h3>
        </div>
      </div>
    </div>
  </div>
</div> -->















