
    <!-- header
      ================================================== -->
      <header class="s-header">

        <div class="header-logo">
          <a class="site-logo" href="index.html">
            <%= image_tag "logo1.png" %>
          </a>
        </div>

        <nav class="header-nav">

          <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

          <div class="header-nav__content">
            <h3>Navigation</h3>

            <ul class="header-nav__list">
              <li class="current"><a class="smoothscroll"  href="#home" title="home">Home</a></li>
              <li><a class="smoothscroll"  href="#about" title="about">About</a></li>
              <li><a class="smoothscroll"  href="#services" title="services">Services</a></li>
              <li><a class="smoothscroll"  href="#works" title="works">Sign Up</a></li>
              <li><a class="smoothscroll"  href="#clients" title="clients">Portals</a></li>
              <li><a class="smoothscroll"  href="#contact" title="contact">Contact</a></li>
            </ul>

            <p>Scriblix has been developed by a team of developers who understand business. <a href='#0'></a>Our goal is to offer the best service possible on the market.</p>

            <ul class="header-nav__social">
              <li>
                <a href="www.facebook.com/Scriblix-2014364228775697/"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="https://twitter.com/scriblix7"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="https://www.instagram.com/scriblix/"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="https://nl.pinterest.com/scriblix0881/pins/"><i class="fa fa-pinterest"></i></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/company/scriblix/"><i class="fa fa-linkedin-square"></i></a>
              </li>
            </ul>

          </div> <!-- end header-nav__content -->

        </nav>  <!-- end header-nav -->

        <a class="header-menu-toggle" href="#">
          <span class="header-menu-text">Menu</span>
          <span class="header-menu-icon"></span>
        </a>

      </header> <!-- end s-header -->



      <%= render "first" %>
      <%= render "about" %>
      <%= render "services" %>
      <%= render "orderfeed" %>
      <%= render "clients" %>
      <%= render "contact" %>
      <%= render "footer" %>

















    <!-- photoswipe background
      ================================================== -->
      <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

          <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
          </div>

          <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
              <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
              "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
              "Zoom in/out"></button>
              <div class="pswp__preloader">
                <div class="pswp__preloader__icn">
                  <div class="pswp__preloader__cut">
                    <div class="pswp__preloader__donut"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
              <div class="pswp__share-tooltip"></div>
            </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
            "Next (arrow right)"></button>
            <div class="pswp__caption">
              <div class="pswp__caption__center"></div>
            </div>
          </div>

        </div>

      </div> <!-- end photoSwipe background -->


